# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# all files
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 160
trim_trailing_whitespace = true

[*.{sh,zsh,bash,fish}]
# like -i=4
indent_size = 2
indent_style = space
end_of_line = lf

[*.{sh,zsh,bash}]
shell_variant      = bash # like -ln=posix
binary_next_line   = true  # like -bn
switch_case_indent = true  # like -ci
space_redirects    = true  # like -sr
keep_padding       = true  # like -kp
function_next_line = true  # like -fn

[*.{xml,java}]
indent_style = space
indent_size = 4

